* {
    box-sizing: border-box;
    padding: 0;
   
    font-family: 'SF Pro Display';
}
.navbar_name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

}

.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    z-index: 1000;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-around;
    height: min-content;
    backdrop-filter: blur(30px);
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.7s;
    
}
.navbar-dark{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: min-content;
    z-index: 1000;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.7s;
}
.nav-list {
    list-style-type: none;
    transition: ease-in;
  
}
.nav-list-hidden {
    list-style-type: none;
    transition: ease-in;
   animation: normal 1s;
}

.nav-list li {
    display: inline-block;
    padding: 20px 10px;
    
}
.nav-list a:hover {
 color: teal;
    cursor: pointer;
}
.nav-list-hidden li {
    display: inline-block;
    padding: 20px 10px;
    
}
.nav-list-hidden a:hover {
 color: teal;
    cursor: pointer;
}

.arrow {
   display: none;
   transform: rotate(0deg) !important;
   transition:0.7s;
}
.arrow:hover {
    color: teal;
    cursor: pointer;
 }
 .arrow-up{ 
    display: none;
    transform: rotate(180deg);
    transition:0.7s;
 }
 .arrow-up:hover {
    color: teal;
    cursor: pointer;
 }


@media all and (max-width: 600px){
    .navbar {
       
        height: max-content !important;
        flex-direction: column;
        justify-content: space-between;
        transition: ease;
        width: 100%;
    
    }
    .navbar-dark {
       
        height: max-content !important;
        flex-direction: column;
        justify-content: space-between;
        transition: ease;
        width: 100%;
    
    }
    .navbar_name{
        position: absolute;
        left: 20px;
        margin: 1rem;
    }
    .arrow {
       display: flex;
       align-self:flex-end;
        right: 20px;
        transition: ease;
       margin: 1rem;
        justify-self: right;
        transform: rotate(180deg) ;
        transition: 0.7s;
    }
    .arrow-up {
        display: flex;
        margin: 1rem;
        transition: ease;
        align-self:flex-end;
        justify-self: right;
        transform: rotate(180deg) ;
        transition: 0.7s;
    }
    .nav-list-hidden {
        display: none;
    }
    .nav-list {
        padding: 20px 0;
        display: flex;
        flex-direction: column !important;
    }

}
/* .navbar_wrapper {
    margin:20px;
    max-height: 10vh;
    display:flex;
    justify-content: space-between;
    font-family: 'SF Pro Display'
}
.navbar_left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;

}

.navbar_name{
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar_right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.navbar_list {
    flex:10;
}

.navbar_list ul {
    display: flex;
    gap:2rem;
    margin-right: 4rem;
}
.navbar_list ul li:hover {
   cursor: pointer; 
   color:var(--teal);
}

 */