:root
{
  --teal: #008080;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
  scroll-behavior: smooth;
    transition: 0.7s;
    color: var(--black);    
    overflow-x: hidden;
}
.App-dark{
  transition: 0.7s;
  overflow-x: hidden;
  color: white;    
  background-color: black;
}


  .button {
    border-radius: 11px;
    border: none;
    color: white;
    font-size: 18px; 
    padding: 11px 26px 11px 26px;
    background: linear-gradient(350deg, #008080 27%, #66b2b2 100%);
    font-family: 'SF Pro Text';
    font-weight: medium;
    transition:0.3s;
    box-shadow: 5px 15px 24px 3px rgba(0, 128, 128, 0.4);
  }


.button:hover{
   
    transform: scale(1.11);
    box-shadow: 5px 15px 27px 5px rgba(0, 128, 128, 0.3) !important;
    cursor: pointer;
    transition:0.3s;
  
   
}
  .frosted {
background-color: rgba(255,255,255,0.5);
backdrop-filter: blur(30px);
  }

  .frosted-dark{
    
background-color: rgba(100,100,100, 0.6)!important;
backdrop-filter: blur(30px);

  }
  .frosted-dark *{
    color: white !important;
  }

